/*QWidget {
	color: white;
	background: #474747;
}*/
QDialog {
	color: white;
	background: #474747;
}
QAbstractButton {
	color: white;
	border-style: outset;
	border-radius: 4px;
	border-width: 1px;
	border-color: #666666;
	background: qlineargradient(x1:0, y2:0, x2:0, y2:1, stop: 0#585858, stop: 1  #404040);
}
QAbstractButton:focus{
	border-color: rgb(32, 138, 212);
}
QAbstractButton:hover {
	background: qlineargradient(x1:0, y2:0, x2:0, y2:1, stop: 0#707070, stop: 1  #606060);
}
QAbstractButton:pressed {
	border-color: #424242;
	background: qlineargradient(x1:0, y2:0, x2:0, y2:1, stop: 0#424242, stop: 1  #515151);
}
QLineEdit{
	color: white;
	background: #151515;
	border-color: black;
	border: 0px solid black;
}
QLineEdit {
	border-radius: 4px;
}
QLineEdit[readOnly="true"] {
	background: #303030;
	color: #f0f0f0;
}
QFrame {
	background: rgba(0, 0, 0, 0);
}
QAbstractScrollArea {
	background: #202020;
}
QGroupBox {
	background: rgba(0, 0, 0, 0);
}
QHeaderView:section {
	background: qlineargradient(x1:0, y2:0, x2:0, y2:1, stop: 0#353535, stop: 1  #202020);
	border-color: black;
	border: 1px solid black;
	text-align: center;
	padding-left: 4px;
}

/*----------------------------------- QCheckBox -----------------------------------*/

QCheckBox {
	background: rgba(0, 0, 0, 0);
	border-radius: 8px;
	border: 0px;
	border-color: rgba(0, 0, 0, 0);
	color: white;
}
QCheckBox:hover {
	background: rgba(0, 0, 0, 0);
}
QCheckBox::indicator {
	width: 16px;
	height: 16px;
	background: transparent;
	border-radius: 9px;
	border: 1px solid #5A5A5A;
}
QCheckBox::indicator:checked {
	background: transparent;
	background-color: transparent;
	image: url(./image/check.png);
    color: white;
    border: 1px solid #5A5A5A;
}

/*----------------------------------- QComboBox -----------------------------------*/

QComboBox {
	background: qlineargradient(x1:0, y2:0, x2:0, y2:1, stop: 0#585858, stop: 1  #404040);
	border-radius: 4px;
	border: 1px solid #666666;
	color: white;
}
QComboBox:drop-down {
        background: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop: 0#585858, stop: 1  #404040);
	border-radius: 2px;
	width: 20%;
}
QComboBox:down-arrow {
	/*background: #676767;*/
        image: url(./image/down-arrow.png);
	width: 8px;
	height: 8px;
}
QComboBox:item {
	color: white;
}
QComboBox:item:selected {
	color: white;
}
QComboBox:item:checked {
	color: white;
}
QListView:item {
	color: white;
}
QLabel {
    color: white;
}
QListView {
    background: rgb(20, 20, 20);
}

/*----------------------------------- QScrollBar -----------------------------------*/

QScrollBar {
    background: qlineargradient(x1:0, y1:0, x2:0.5, y2:0, x3:1, y3:0, stop:0 #313131, stop:0.5 #383838, stop:1 #313131);
    margin: 0px 0px 0px 0px;
    border: 1px solid #727272;
    border-radius: 8px;
    min-height: 0px;
}
QScrollBar::handle {
    margin: 2px 2px 2px 2px;
    background: qlineargradient(x1:0, y1:0, x2:1, y2:0, stop:0 #565656, stop:1 #3c3c3c);
    border-radius: 5px;
    border: 1px solid #828282;
}
QScrollBar::sub-line:vertical {
    /*border: 1px solid;
    border-image: url(./image/up-arrow.png);*/
    background: none;
    subcontrol-position: top;
    subcontrol-origin: margin;
    width: 0px;
    height: 0px;
}
QScrollBar::add-line {
    /*margin: 0px 0px 0px 0px;*/
    /*background: qlineargradient(x1:0, y1:0, x2:0.5, y2:0, x3:1, y3:0, stop:0 #313131, stop:0.5 #383838, stop:1 #313131);*/
    /*border-image: url(./image/down-arrow.png);
    border: 1px solid;*/
    background: none;
    subcontrol-position: bottom;
    subcontrol-origin: margin;
    width: 0px;
    height: 0px;
}
QScrollBar::add-page, QScrollBar::sub-page {
    background: qlineargradient(x1:0, y1:0, x2:0.5, y2:0, x3:1, y3:0, stop:0 #313131, stop:0.5 #383838, stop:1 #313131);
    background: none;
}

